.add-task-container {
  margin: 15px 0;
  width: 100%;
  display: flex;
}
.add-task-input {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background: #1f2224;
  box-shadow: inset -5px 5px 12px #101112, inset 5px -5px 12px #2e3336;
outline: 0;
  outline: 0;
  color: #eee;
  font-size: 16px;
  flex: 2;
}
.add-task-input:focus {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background: #1f2224;
  box-shadow: -5px 5px 12px #101112, 5px -5px 12px #2e3336;
outline: 0;
  color: #eee;
  font-size: 16px;
  flex: 2;
}
.button-container {
  margin-left: 15px;
  flex: 1;
}
