.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display:flex;
    border-radius: 5px;
    justify-content: space-between;
    color:#EEE;
    align-items: center;
  
}
.title{
    cursor: pointer;
}
.delete, .info{
    background-color:transparent;
    font-size: large;
    color: chartreuse;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.Tbox{

}